.box {
  border: 3px solid;
  padding: 25px;
  background-color: gold;
}

.box2 {
  border: 3px solid;
  padding: 25px;
  background-color: bisque;
}

.box3 {
  border: 3px solid;
  padding: 25px;
  background-color: cornflowerblue;
}

.box4 {
  border: 3px solid;
  padding: 25px;
  background-color: deepskyblue;;
}